//
//  secrets.template.xcconfig
//  Xomify-iOS
//
//  Created by Dominick Giordano on 1/2/26.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project
// Copy this file to Secrets.xcconfig and fill in your values

SPOTIFY_CLIENT_ID = your_client_id_here
XOMIFY_API_TOKEN = your_api_token_here
XOMIFY_API_ID = your_api_id_here
