<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.spotify.auth</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>xomify</string>
			</array>
		</dict>
		<dict/>
	</array>
	<key>SpotifyClientId</key>
	<string>$(SPOTIFY_CLIENT_ID)</string>
	<key>SpotifyClientSecret</key>
	<string>$(SPOTIFY_CLIENT_SECRET)</string>
	<key>XomifyApiId</key>
	<string>$(XOMIFY_API_ID)</string>
	<key>XomifyApiToken</key>
	<string>$(XOMIFY_API_TOKEN)</string>
</dict>
</plist>
